*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: #202040;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 1rem 0 3rem;
    height: 23px;
    
}
.title{
    color: red;
    font-weight: 500;
    font-weight: 120px;
    height: 23px;
}